@charset "utf-8";
/* CSS Document */

/*=====================公共样式=====================*/
#topFive,#head,#mid{
	width:100%;
}

	


/*=====================topFive样式=====================*/
#top{
	background:#000;
}
.top{
	width:1300px;
	margin:0 auto;
	height:32px;

}
.top img{
	width:100%;
	height:100%;
}
.frameTop{
	width:660px;
	height:416px;
	background: url(img/pctankuang.png) no-repeat center top;
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	margin:-200px auto auto -300px;
	z-index:20;
}
.frameTop span{
	position:absolute;
	right:40px;
	cursor:pointer;

}
/*=====================head样式=====================*/
#head{
	background:#f2f2f2;
}
.head{
	height:30px;
	width:1263px;
	margin:0 auto;
	padding-right:37px;
	
}
.leftHead{
	float:left;
	margin-left:20px;
}
.leftHead span{
	display:inline-block;
	background: url(img/home.png) no-repeat left center;
	padding-left:16px;
	margin-right:16px;

}
.leftHead a{
	line-height:30px;
	color:#666666;
	padding:0 16px 0 10px;
	
}
.leftHead span a{
	border-right:1px solid #dfdfdf;
}
.leftHead span a:hover{
	color:#b15912;


}
.leftHead em{
	display:inline-block;
	background: url(img/home.png) no-repeat left center;
	padding-left:16px;
}

.rightHead{
	float:right;
}
.rightHead>li{
	float:left;
	
}
.rightHead>li>a:hover{
	color:#a41025;
}
.rightHead>li>a{
	border-right:1px solid #dfdfdf;
	line-height:30px;
	padding:0 20px;
	color:#666666;
}
.arrowHead{
	border:5px solid #000;
	border-left-color:transparent;
	border-right-color:transparent;
	border-bottom:none;
	display:inline-block;
	line-height:30px;
	margin-left:10px;
	margin-bottom:3px;
}
.arrowHeadActive{
	border:5px solid #e53434;
	border-left-color:transparent;
	border-right-color:transparent;
	border-top:none;
	display:inline-block;
	line-height:30px;
	margin-left:10px;
	margin-bottom:3px;
}
.registerHead{
	background: url(img/youli.gif) no-repeat left top;
	padding-left:10px;
	margin-left:15px;
}
.downHead{
	position:relative;

	
}
.downHeadActive{
	background: #fff;
	
}
.listHead{
	position:absolute;
	top:30px;
	border:1px solid #cccccc;
	display: none;
	box-shadow: 0 0 2px rgba(0,0,0,.2);
	border-top:none!important;
}
.listHead li{
	width:133px;
	height:22px;
}
.listHead li a{
	line-height:22px;
	display:block;
	text-align:center;
}
.listHead li a:hover{
	color:red;
}
.helpHead a{
	border-left:1px solid #dfdfdf;
}
.phoneHead{
	position: relative;
}
.phoneHead img{
	display:none;
	position:absolute;
	z-index:30;

}
/*=====================mid样式=====================*/

.mid{
	width:1263px;
	margin:0 auto;
	padding-right:37px;
	
}
.mid h1{
	height:110px;
	width:244px;
	float:left;
	margin-left:20px;
}
.mid h1 img{
	width:100%;
	height:100%;
}
.mid h2{
	width:142px;
	height:80px;
	float:left;
	margin-left:40px;
	margin-top: 14px;
}
.mid form{
	margin-left:40px;
	height:75px;
	width:400px;
	margin-top: 36px;
}
.mid form input{
	width:303px;
	height: 34px;
	border:2px solid #c69c6d;
	padding-left:5px;
}
.mid form input:focus{
	outline:none;	
}
.mid form button{
	width:82px;
	height: 40px;
	border:none;
	background:#c69c6d;
	font-size:14px;
	color:#fff;
}
.mid form button:focus{
	outline:none;
}

.mid form p{
	height:35px;
	line-height:35px;
}
.mid form p a{
	margin-right:25px;
	color:#999999;
}
.buycarHead{
	background:url(img/brandstore_share.png) no-repeat -340px -407px;
	width:140px;
	height:34px;
	float:right;
	border:1px solid #ccc;
	margin-top: 40px;
	margin-right:40px;
	box-shadow:0 0 2px rgba(0,0,0,.2);
	position:relative;
}
.in_buycarHead img{
	margin:5px 0  0 10px;
	float:left;
}
.in_buycarHead span{
	color:#666666;
	line-height: 30px;
	margin-left:10px;
	display: inline-block;

}
.in_buycarHead span em{
	color:red;
}
.out_buycarHead{
	position:absolute;
	width:280px;
	height:80px;
	border:1px solid #ccc;
	box-shadow:0 0 2px rgba(0,0,0,.2);
	top:34px;
	left:-141px;
	display: none;
	z-index:30;
	background: #fff;
}
.out_buycarHead span{
	position:absolute;
	width:140px;
	height:5px;
	top:-4px;
	background:#fff;
	right:0px;
}
.out_buycarHead p{
	margin-top:10px;
	text-align:center;
}
/*=====================nav样式=====================*/
#nav{
	width:100%;
	background: #161616;

}
.nav{
	width:1263px;
	margin:0 auto;
	padding-right:37px;
}
.classifyNav{
	background: #cf0101;
	color:white;
	width:130px;
	float:left;
	margin-left:26px;
	position:relative;
}
.classifyNav h3{
	height:41px;
	line-height:38px;
	text-align:center;
}
.classifyNav ul{
	position:absolute;
	top:40px;
	left:0;
	color:#000;
	background:#dddee0;
	
	display: none;
	z-index: 100
}
.classifyNav ul li{
	height:38px;
	width:130px;
	position:relative;
}

.classifyNav ul li a{
	display: inline-block;
	height:38px;
	width:90px;
	background: url(img/brand_category1.png) no-repeat -3px -5px;
	padding-left:50px;
	line-height: 38px;
	color:#030406;
	position: relative;

}
.classifyNav ul li a:hover{
	background: url(img/brand_category2.png) no-repeat -3px -5px;
}


.classifyNav ul li a span{
	width:15px;
	height:38px;
	display: inline-block;
	position:absolute;
	top:0px;
	left:110px;
	background: url(img/share02.png) no-repeat -305px -30px;
	display: none;
}
.classifyNav ul li a em{
	height:38px;
	display: inline-block;
	position:absolute;
	top:0;
	left:128px;
	width:10px;
}
.classifyNav ul li div{
	position:absolute;
	width:630px;
	top:0;
	left:130px;
	padding-left:20px;
	padding-right:150px;
	display: none;
	z-index: 100;
	background:#fff;

}
.classifyNav ul li div dl{
	overflow: hidden;
	padding-top:20px; 
	border-bottom: 1px solid #666666;
	padding-bottom: 10px;
}
.classifyNav ul li div dt{
	float:left;
	width:154px;
	text-align: center;
	color:red;
	font-size: 14px;
	font-weight: bold;
}
.classifyNav ul li div dd{
	float:left;
	margin-right:10px;
}
.classifyNav ul li div h4{
	height:50px;
	font-weight:normal;
}
.classifyNav ul li div h4 span{
	display:inline-block;
	width:100px;
	height:30px;
	background: red;
	color:#fff;
	text-align:center;
	line-height:30px;
	margin-top:20px;
}

.listNav li{
	float:left;
	padding:0 30px;
}
.listNav li a{
	color:#c8a985;
	line-height:38px;
	
}
.listNav li a:hover{
	color:white;
}
.shopNav{
	
	height:38px;
	width:54px;
	display: inline-block;
	
	
}
.shopNav span{
	height:38px;
	width:24px;
	display: inline-block;
	background: url(img/share02.png) no-repeat -54px -170px;
	float:left;
}
.shopNav em{
	line-height: 38px;
	display: inline-block;
	float:left;
	margin-left:3px;
}
.shopNav span:hover{
	background: url(img/share02.png) no-repeat -362px -253px;
}
.wrapNav{
	margin-right:50px;
}
.wrapNav li{
	
	width:30px;
	margin-right:12px;
	float:left;
	height:38px;
}
.wrapNav li span{
	display: inline-block;
	width:30px;
	height:38px;
	float:left;
	
}
.wrapNav em{
	color:#fff;
	line-height:38px;
	float:left;


}
.zhengNav{
	background: url(img/share02.png) no-repeat -237px -66px;
}
.vipNav{
	background: url(img/share02.png) no-repeat -296px -66px;
}
.shangNav{
	background: url(img/share02.png) no-repeat -354px -66px;
}


/*=====================footer样式=====================*/
#footer{
	width:100%;
	background: #fff;
	background: url(img/footer_message_bg.jpg);
	margin-top:40px;
	border-top:1px solid #cccccc;

}
.footer{
	width:1240px;
	margin:0 auto;
	padding:0px 30px;	
}
.message{
	width:1240px;
	margin:0 auto;
	padding:24px 30px;
	border-bottom:1px solid #cccccc;
	
}
.message li{
	float:left;
	margin-right:60px;
}
.message li div{
	
	float:right;
	margin-top:15px;
	margin-left:5px;
}
.explainFooter{
	width:930px;
	float:left;
}
.explainFooter li{
	float:left;
	width:186px;
}
.explainFooter li h3{
	line-height:70px;
}
.explainFooter li p{
	line-height:25px;
}
.rweixinfooter{
	margin-left:40px;
}
.lweixinfooter h3{
	line-height:70px;
}
.rweixinfooter h3{
	line-height:70px;
}
.listFooter{
	
	width:450px;
	margin:115px auto 0;
}
.listFooter li{
	float:left;
}
.listFooter li a{
	color:#fff;
	padding:0 10px;
	border-right:1px solid #fff;
	line-height:50px;
}
.listFooter li a:hover{
	text-decoration: underline;
}
.notlistFooter{
	border:none;
}
.aboutFooter{
	width:850px;
	margin:0 auto;
}


.aboutFooter li{
	float:left;
}
.aboutFooter li a{
	color:#fff;
	padding:0 10px;
	border-right:1px solid #fff;
}
.aboutFooter li a:hover{
	text-decoration: underline;
}

.pFooter{
	color:#fff;
	margin-left:200px;
	display:inline-block;
	line-height:30px;
}
.imgFooter {
	width:480px;
	margin:15px auto 0;

}
.imgFooter li{
	float:left;
	margin-right:10px;
}