/*=====================banner样式=====================*/
#banner{
	width:100%;
	background: #fff;

}
.banner{
	margin:0 auto;
	position: relative;
	height:520px;
	width:1263px;
	overflow: hidden;
}
.bigBanner{
	width:13000px;
	position:absolute;

}

.bigBanner li{
	float:left;
}
.bigBanner li a img{
	width:100%;
	height:100%;
	display: block;
}
.banner span{
	position: absolute;
	top:202px;	
	cursor:pointer;
}
.prevBanner{
	left:132px;
}
.nextBanner{
	right:132px;
}
.smallBanner{
	position: absolute;
	width:200px;
	left:50%;
	top:491px;
	background: #918f8f;
	height:20px;
	margin-left:-100px;
}
.smallBanner li{
	width: 12px;
	height:12px;
	border-radius: 50%;
	background:#b7b6b4;
	float:left;
	border:1px solid #fff;
	
	margin:2px 9px;
}
/*=====================brand样式=====================*/
#brand{
	width:100%;
	background: #fff;

}
.brand{
	width:1240px;
	margin:0 auto;
	position: relative;
	padding:0 30px;
}
.logoBrand{
	height:120px;
}
.logoBrand img{
	margin-top:40px;
}
.imgBrand li{
	position: relative;
	width:234px;
	height:329px;
	float:left;
	margin-right:10px;
}
.showBrand{
	position: absolute;
	width:106px;
	height:55px;
	bottom: 0;
	left:30px;
	background: #fff;
	padding:0 34px;
	overflow: hidden;
}
.showBrand img{
	width:60px;
	height:30px;
	display: block;
	margin:0 auto;
	margin-top:10px;
}
.showBrand h2{
	width:30px;
	height:3px;
	background:#000;
	margin:0 auto;
	margin-bottom:30px;
	margin-top:10px;
}
.showBrand p{
	font-size: 14px;
	text-align:center;
	color:#666666;
	margin-top:10px;
}
/*=====================hot样式=====================*/
#hot{
	width:100%;
	background: #fff;

}
.hot{
	width:1240px;
	margin:0 auto;
	padding:0 30px;
}
.logoHot{
	position:relative;
}
.logoHot span{
	background: url(img/share02.png) no-repeat -160px -384px;
	display: inline-block;
    width: 8px;
    height: 15px;
    position:absolute;
    top:25px;
    right:100px;
    cursor:pointer;
}
.logoHot em{
	background: url(img/share02.png) no-repeat -180px -384px;
	display: inline-block;
    width: 8px;
    height: 15px;
    position:absolute;
    top:25px;
    right:60px;
    cursor:pointer;
}
.out_listHot{
	width:1240px;
}
.in_listHot{
	width:5000px;
}
.listHot{
	width:1240px;
}
.listHot li{
	width:109px;
	height:57px;
	border:1px solid #dfdfdf;
	padding:14px 29px;
	position:relative;
	float: left;
	margin-right:6px;
	margin-bottom:6px;

}
.listHot li img{
	width:100%;
	height:100%;
}
.listHot li div{
	position: absolute;
	top:50%;
	left:50%;
	margin-left:-27px;
	margin-top:-13px;
	display: none;

}
.listHot li div h2{
	color:#be6f34;
}
.listHot li div span{
	height:3px;
	width:30px;
	background:#000;
	display: block;
	margin:0 auto;
}
.topline{
	position: absolute;
	left:0;
	top:-1px;
	background:#000;
	width:0px;
	height:1px;
}
.rightline{
	position: absolute;
	right:0;
	top:-1px;
	background:#000;
	width:1px;
	height:0px;
}
.bottomline{
	position: absolute;
	left:0;
	bottom:-1px;
	background:#000;
	width:0px;
	height:1px;
}
.leftline{
	position: absolute;
	left:0;
	top:-1px;
	background:#000;
	width:1px;
	height:0px;
}

/*=====================sale样式=====================*/
#sale{
	width:100%;
	background: #fff;

}
.sale{
	width:1240px;
	margin:0 auto;
	padding:0 30px;
}
.listSale{
	margin-bottom:15px;
}
.listSale span{
	width:398px;
	height:30px;
	display: inline-block;
	background:#999999;
	margin-right:10px;
	text-align:center;
	line-height:30px;
	color:white;
}
.outSale{
	width:1240px;
	height:516px;
	position: relative;
	overflow: hidden;
}
.inSale{
	height:516px;
	width:6000px;
	position: absolute;
	top:0;
	left:0;
}
.imgSale{
	width:1240px;
	height:516px;
	float:left;
}
.imgSale h2{
	width:367px;
	height:516px;
	float:left;
}
.imgSale h2 img{
	width:100%;
	height:100%;
}
.imgSale ul{
	width:850px;
	height:516px;
	float:right;
}
.imgSale ul li{
	float:left;
	border:1px solid #cccccc;
	margin-right:8px;
	margin-bottom:8px;
	overflow: hidden;
}
.top1Sale{
	width:223px;
	height:250px;
	position: relative;
}
.top1Sale img{
	width:150px;
	height:150px;
	left:50%;
	position: absolute;
	margin-left:-75px;
	top:100px;
}
.top1Sale h5{
	height:100px;
	width:150px;
	text-align: center;
	left:50%;
	position: absolute;
	margin-left:-75px;
	font-weight: normal;
}
.top1Sale h5 p{
	line-height:30px;
}
.top2Sale{
	width:367px;
	height:250px;
	position: relative;
}
.top2Sale h5{
	width:150px;
	height:100px;
	font-weight: normal;
	text-align: center;
	position: absolute;
	top:10px;
	left:20px;
}
.top2Sale h5 p{
	line-height:30px;
}
.top2Sale img{
	height:180px;
	width:180px;
	position: absolute;
	top:50px;
	left:160px;
}
.top3Sale{
	width:223px;
	height:250px;
	position: relative;
}
.top3Sale img{
	width:150px;
	height:150px;
	left:50%;
	position: absolute;
	margin-left:-75px;
	top:100px;
}

.top3Sale h5{
	height:100px;
	width:150px;
	text-align: center;
	left:50%;
	position: absolute;
	margin-left:-75px;
	font-weight: normal;
}
.top3Sale h5 p{
	line-height:30px;
}
.bottomSale{
	width:271px;
	height:255px;
}
.bottomSale{
	width:271px;
	height:255px;
}
.bottomSale{
	width:271px;
	height:255px;
	position: relative;
}
.bottomSale img{
	width:150px;
	height:150px;
	left:50%;
	position: absolute;
	margin-left:-75px;
	top:100px;
}

.bottomSale h5{
	height:100px;
	width:150px;
	text-align: center;
	left:50%;
	position: absolute;
	margin-left:-75px;
	font-weight: normal;
}
.bottomSale h5 p{
	line-height:30px;
}

/*=====================mail样式=====================*/
#mail{
	width:100%;
	background: #fff;

}
.mail{
	width:1240px;
	margin:0 auto;
	padding:0 30px;
}
.listMail li{
	float:left;
	width:233px;
	height:50px;
	color:#fff;
	line-height:50px;
	text-align: center;
	background:#999999;
	margin-right:11px;
	position:relative;
}
.listMail li p{
	position:absolute;
	width:223px;
	height:0px;
	background:#000;
	top:50px;
	padding:0 5px 0;
	overflow: hidden;
}
.listMail li p span{
	color:#fff;
	display: block;
	margin-top:5px;
	height:40px;
	border:1px solid #fff;
	font-size: 14px;
	text-align: center;
	line-height:40px;
}

/*=====================bag样式=====================*/
#bag{
	width:100%;
	background: #fff;

}
.bag{
	width:1240px;
	margin:0 auto;
	padding:0 30px;
}
.leftBag{
	width:220px;
	
	border:1px solid #cccccc;
	padding:9px 9px 0;
}
.leftBag p span{
	width:100px;
	height:36px;
	line-height:36px;
	color:#666666;
	display: inline-block;
	cursor:pointer;
}
.leftBag p span:hover{
	color:#d3a366;
}
.carouselBag{
	border-top:1px dashed #d4d4d4;
	width:220px;
	height:214px;
	position: relative;
	overflow: hidden;

}
.carouselBag h3{
	width:2200px;
	height:160px;
	margin-top:10px;
	position:absolute;
}
.carouselBag h3 p{
	width:220px;
	height:160px;
	float:left;
}
.carouselBag h3 p a{
	display:inline-block;
	width:90px;
	height:50px;
	float:left;
	padding:10px 10px;
	margin-top:10px;
}
.carouselBag h3 p a img{
	width:100%;
	height:100%;
}
.indexBag{
	height:33px;
	width:110px;
	position: relative;
	padding:5px 20px;
	margin-top:10px;
	position:absolute;
	top:170px;
	left:50px;
}
.indexBag span{
	display: inline-block;
	width:8px;
	height:14px;
	position: absolute;	
	top:5px;
}
 .prevBag{
	left:10px;
	background: url(img/share02.png) no-repeat -239px -384px;
}
.nextBag{
	right:45px;
	background: url(img/share02.png) no-repeat -267px -384px;
} 
.indexBag em{
	display: inline-block;
	width:10px;
	height:10px;
	border-radius: 50%;
	background:#666666;
	margin-left:10px;
	
}
.centerBag{
	height:403px;
	position: relative;
	width:390px;
	border:1px solid #cccccc;
	margin-left:8px;
}
.centerBag img{
	height:100%;
	width:100%;
}
.centerBag div{
	position: absolute;
	left:50%;
	bottom:30px;
	background: #fff;
	opacity:0.7;
	width:250px;
	height:90px;
	margin-left:-125px;
	text-align:center;
	color:#000000;
}.centerBag div p{
	line-height:35px;
	color:#000000;
}
.centerBag div span{
	display: block;
	height:2px;
	background:#000;
	width:30px;
	margin:0 auto;
	margin-bottom:10px;
}
.centerBag div em{
	line-height:18px;
	color:#000000;
}
.rightBag{
	width:570px;
	margin-right:20px;
}
.rightBag li{
	float: left;
	height:195px;
	width:276px;
	border:1px solid #cccccc;
	margin-right:6px;
	margin-bottom:10px;
}
.rightBag li img{
	height:100%;
	width:100%;
}
/*=====================promotion样式=====================*/
#promotion{
	width:100%;
	background: #fff;

}
.promotion{
	width:1240px;
	margin:0 auto;
	padding:0 30px;
}
.topPromotion h2{
	float:left;
	width:598px;
	height:294px;
	margin-right:10px;
	margin-bottom:10px;

}
.topPromotion h2 img{
	width:100%;
	height:100%;
}
.topPromotion p{
	float:left;
	height:294px;
	width:294px;
	margin-right:10px;
	margin-bottom:10px;

}
.topPromotion p img{
	width:100%;
	height:100%;
}
.smallPromotion{
	width:610px;
}
.smallPromotion li{
	float:left;
	width:192px;
	height:63px;
	border:1px solid #cccccc;
	margin-right:9px;
	margin-bottom:9px;
	position: relative;
}
.bigPromotion {
	width:598px;
	height:138px;
	margin-right:32px;
}

.bigPromotion img{
	height:100%;
	width:100%;
}
	
.toplinePro{
	position: absolute;
	left:0;
	top:-1px;
	background:#000;
	width:0px;
	height:1px;
}
.rightlinePro{
	position: absolute;
	top:0;
	right:-1px;
	background:#000;
	width:1px;
	height:0px;
}
.bottomlinePro{
	position: absolute;
	left:0;
	bottom:-1px;
	background:#000;
	width:0px;
	height:1px;
}
.leftlinePro{
	position: absolute;
	left:-1px;
	top:-1px;
	background:#000;
	width:1px;
	height:0px;
}